<div class="legend">
  <table class="table_no_border">
    <tr>
      <td class="win_legend">win</td>
      <td class="loss_legend">loss</td>
      <td class="draw_legend">draw</td>
    </tr>
  </table>
</div>
<div class="main_table">
  <table>
    <tr>
      <th><a href="/matches/sort/date">Date <img class="sorting_icon" src="/images/arrow.png"></a></th>
      <th><a href="/matches/sort/venue">Venue <img class="sorting_icon" src="/images/arrow.png"></a></th>
      <th><a href="/matches/sort/competition">Competition <img class="sorting_icon" src="/images/arrow.png"></a></th>
      <th><a href="/matches/sort/home_team">Home team <img class="sorting_icon" src="/images/arrow.png"></a></th>
      <th colspan="2" class="score">Score</th>
      <th><a href="/matches/sort/away_team">Away team <img class="sorting_icon" src="/images/arrow.png"></a></th>
      <th colspan="3" class="search_box">
        <form method="get" action="/matches/search">
          <input id="search-term" type="text" name="search_term" placeholder="Filter..."/>
          <input type="image" class="search_icon" src="/images/magnifying_glass.png">
        </form>
      </th>
    </tr>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.date %></td>
      <td><%= match.venue.name %></td>
      <td><%= match.competition.name %></td>
      <td><%= match.home_team.name %></td>
      <% if match.winner == "home" %>
        <td class="win"><%= match.home_team_score %></td>
        <td class="loss"><%= match.away_team_score %></td>
      <% elsif match.winner == "away" %>
        <td class="loss"><%= match.home_team_score %></td>
        <td class="win"><%= match.away_team_score %></td>
      <% else %>
        <td class="draw"><%= match.home_team_score %></td>
        <td class="draw"><%= match.away_team_score %></td>
      <% end %>
      <td><%= match.away_team.name %></td>
      <td class="button_field">
        <form method="get" action="/matches/<%= match.id %>">
          <input class="small_button" type="submit" value="Details"/>
        </form>
      </td>
      <td class="button_field">
        <form method="get" action="/matches/<%= match.id %>/edit">
          <input class="small_button" type="submit" value="Update"/>
        </form>
      </td>
      <td class="button_field">
        <form method="post" action="/matches/<%= match.id %>/delete">
          <input class="small_button" type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>
