<p>
  <%= @match.date %>
</p>
<p>
  <%= @match.venue.name %>
</p>
<p>
  <%= @match.home_team.name %>
</p>
<p>
  <%= @match.home_team_score %>
</p>
<p>
  <%= @match.away_team_score %>
</p>
<p>
  <%= @match.away_team.name %>
</p>
<p>
  <%= @match.competition.name %>
</p>
<p>
  <%= @match.comments %>
</p>
