<div class="main">
  <p>
    <div class="show_title">Date:</div>
    <%= @match.date %>
  </p>
  <p>
    <div class="show_title">Venue:</div>
    <%= @match.venue.name %>, <%= @match.venue.city %>, <%= @match.venue.country %>
  </p>
  <p>
    <div class="show_title">Competition:</div>
    <%= @match.competition.name %>
  </p>
  <p>
    <div class="show_title">Home team:</div>
    <%= @match.home_team.name %>
  </p>
  <p>
    <div class="show_title">Home team score:</div>
    <%= @match.home_team_score %>
  </p>
  <p>
    <div class="show_title">Away team score:</div>
    <%= @match.away_team_score %>
  </p>
  <p>
    <div class="show_title">Away team:</div>
    <%= @match.away_team.name %>
  </p>
  <p>
    <div class="show_title">Comments:</div>
    <div class="show_value"><%= @match.comments %>&nbsp;</div>
  </p>
  <p>
    <div class="show_title">&nbsp;</div>
    <form class="inline" method="get" action="/matches/<%= @match.id %>/edit">
      <input class="small_button" type="submit" value="Update"/>
    </form>
    <form class="inline" method="post" action="/matches/<%= @match.id %>/delete">
      <input class="small_button" type="submit" value="Delete"/>
    </form>
  </p>
</div>
