<div class="main">
  <p>
    <div class="show_title">Date:</div>
    <div class="show_value"><%= @match.date %></div>
  </p>
  <p>
    <div class="show_title">Venue:</div>
    <div class="show_value"><%= @match.venue.name %>, <%= @match.venue.city %>, <%= @match.venue.country %></div>
  </p>
  <p>
    <div class="show_title">Competition:</div>
    <div class="show_value"><%= @match.competition.name %></div>
  </p>
  <p>
    <div class="show_title">Home team:</div>
    <div class="show_value"><%= @match.home_team.name %></div>
  </p>
  <p>
    <div class="show_title">Home team score:</div>
    <div class="show_value"><%= @match.home_team_score %></div>
  </p>
  <p>
    <div class="show_title">Away team score:</div>
    <div class="show_value"><%= @match.away_team_score %></div>
  </p>
  <p>
    <div class="show_title">Away team:</div>
    <div class="show_value"><%= @match.away_team.name %></div>
  </p>
  <p>
    <div class="show_title">Comments:</div>
    <div class="show_value"><%= @match.comments %></div>
  </p>
</div>
